html, body {
  text-align: center;
  font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
}

html,body,li,form,ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  width: 100vw;
}

li:nth-child(odd) {
  background: #eee;
}

#message {
  font-size: 16px;
  width: 85%;
  height: 30px;
}

.message-send-btn {
  widht: 900%;
}
