html, body {
  text-align: center;
  font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
}

html,body,li,form,ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  width: 100vw;
  text-align: left;
}

li:nth-child(odd) {
  background: #eee;
}

#message {
  font-size: 16px;
  height: 40px;
  width: 100%;
}
#send-btn-col {
  padding: 0px;
}
#message-send-btn {
}
